<section class="advantages" id="advantages">
  <div class="layout-grid md:mx-11">
    <div class="advantages__title-secondary">
      <div class="title-secondary__circle"></div>
      <span class="title-secondary__text">Почему именно IMSI</span>
    </div>
    <h2 class="advantages__title">Преимущества видеокарты IMSI GRTH 3122 SUPER</h2>
    <div class="card card_1">
      <img src="/assets/advantages/advantages__card-1.png" alt="card-1" class="card__img">
      <span class="card__title">Цена — качество</span>
      <span class="card__descr">Оптимальное соотношение «цена — качество». Если бюджет у вас ограничен, то видеокарта
        от AMD — идеальное решение</span>
      <div class="advantages__bg">1</div>
    </div>
    <div class="card card_2">
      <img src="/assets/advantages/advantages__card-2.png" alt="card-2" class="card__img">
      <span class="card__title">Энергопотребление</span>
      <span class="card__descr">У большинства моделей IMSI энергопотребление ниже. Поэтому наши видеокарты часто
        устанавливают в ноутбуки — ПК меньше греются, дольше служит батарея без подзарядки</span>
    </div>
    <div class="card card_3">
      <img src="/assets/advantages/advantages__card-3.png" alt="card-3" class="card__img">
      <span class="card__title">AZD Eyefinity</span>
      <span class="card__descr">Технология AZD Eyefinity. При наличии нескольких мониторов с высоким качеством
        картинки, желательно Full HD, можно добиться эффекта 3D</span>
    </div>
  </div>
</section>