<section class="mt-[200px] max-h-[245px]">
    {{!-- <img src="/assets/Background3.png" alt=""
        class="relative maxh-[540px] max-w-[540px] left-[1061px] bottom-[185px] z-[1]" /> --}}
    <div class="ml-[360px] mr-[360px]  w-[1200px] border-2  rounded-lg ">
        <div class="flex justify-between px-6 py-10">
            <div class="text-white pt-6">
                <span class="text-[32px] leading-10">Специальная цена на видеокарту <br> <span
                        class="gradient__text">IMSI
                        GRTH 3122 SUPER</span>
                    действует
                    до
                    конца <br> августа
                    2022
                    года!</span>
            </div>
            <div>
                <span class="text-[#CCCCCC] flex text-center justify-center">Успейте приобрести <br> нашу видеокарту
                    <br> и
                    сэкономить 6 000
                    ₽</span>
                <br>
                <button class="gradient__btn w-[270px] h-[54px] mt-6">Заказать</button>
            </div>
        </div>
    </div>
</section>