<section class="mt-[200px] h-[245px] md:h-[451px] sm:h-[378px] ">
    <div
        class="ml-[360px] mr-[360px]  w-[1200px] border-2 md:max-h-[451px] sm:h-[378px] sm:w-[335px] rounded-lg md:max-w-[446px] md:mx-auto">
        <div class="flex justify-between px-6 py-10 md:block">
            <div class="text-white pt-6">
                <span class="text-[32px] leading-10 font-bold sm:text-[20px] sm:leading-[140%]">Специальная цена на
                    видеокарту
                    <br> <span class="gradient__text">IMSI
                        GRTH 3122 SUPER</span>
                    действует
                    до
                    конца <br> августа
                    2022
                    года!</span>
            </div>
            <div>
                <span class="text-[#CCCCCC] flex text-center justify-center">Успейте приобрести <br> нашу
                    видеокарту
                    <br> и
                    сэкономить 6 000
                    ₽</span>
                <button class="gradient__btn w-[270px] h-[54px] mt-6 md:ml-[60px] sell">Заказать</button>
            </div>
        </div>
    </div>
</section>