<section class="mt-[200px]" id="articles">
    <div class="ml-[360px] mr-[360px] ]">
        <div class="mr-10">
            <ul class="mb-[16px]">
                <li class="uppercase ml-[20px] list-disc text-white text-[20] leading-6">Полезные статьи</li>
            </ul>
            <span class="text-white text-[40px]  leading-[48px]">
                Наш блог
            </span>
        </div>
        <div id="image-carousel" class="splide mt-20" aria-label="Beautiful Images">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide border-2 rounded-lg max-w-[531px] h-[702px] px-6 pt-6">
                        <img src="/assets/Articles/maining.svg" alt="">
                        <div class="text-white">
                            <h1 class="text-[32px] leading-10">Что такое «Майнинг»?</h1>
                            <span class="text-[#505050] mt-4">Опубликовано 20 июля, 2022 автором Admin</span>
                            <p class="text-[#CCCCCC]">Майнинг или добыча — это деятельность по добыванию криптовалюты,
                                за счёт своих мощностей.
                                Для майнинга используют
                                различную технику, например: видеокарты, графические процессоры, пулы, SSD/HDD и даже
                                смартфоны. Обычно майнинг...
                            </p>
                            <button
                                class=" mt-6 border-2 border-purple-500 gradient__text rounded-full py-4 pl-[10rem] pr-[11.2rem]">Читать
                                полностью</button>
                        </div>
                    </li>


                    <li class="splide__slide border-2 rounded-lg max-w-[531px] h-[702px] px-6 pt-6">
                        <img src="/assets/Articles/maining-2.svg" alt="">
                        <div class="text-white">
                            <h1 class="text-[32px] leading-10">Майнинг на видеокартах и SSD/HDD</h1>
                            <span class="text-[#505050] mt-4">Опубликовано 20 июля, 2022 автором Admin</span>
                            <p class="text-[#CCCCCC]">На данный момент для майнинга чаще всего приобретают карты Nvidia:
                                GTX 1050ti, 1060,
                                1070, 1080, 1080ti и AMD Radeon: RX
                                470, 480, 570, 580. Дневной...
                            </p>
                            <button
                                class="mt-8 border-2 border-purple-500 gradient__text rounded-full py-4 pl-[10rem] pr-[11.2rem]">Читать
                                полностью</button>
                        </div>
                    </li>
                    <li class="splide__slide border-2 rounded-lg max-w-[531px] h-[702px] px-6 pt-6">
                        <img src="/assets/Articles/maining-3.svg" alt="">
                        <div class="text-white">
                            <h1 class="text-[32px] leading-10">Изменения награждения криптовалюты «Биткоин»</h1>
                            <span class="text-[#505050] mt-4">Опубликовано 20 июля, 2022 автором Admin</span>
                            <p class="text-[#CCCCCC]">В системе «Биткойн» уровень сложности пересчитывается через каждые
                                2016 блоков/каждые 2
                                недели. Он увеличивается или
                                уменьшается в...
                            </p>
                            <button
                                class="mt-8 border-2 border-purple-500 gradient__text rounded-full py-4 pl-[10rem] pr-[11.2rem] ">Читать
                                полностью</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>




















{{!-- https://splidejs.com/tutorials/gallery/ --}}