<section class="mt-[200px]" id="articles">
    <div class="ml-[360px] mr-[360px] md:mx-11 sm:mx-[21px]">
        <div class="mr-10">
            <ul class="mb-[16px]">
                <li class="uppercase ml-[20px] list-disc text-white text-[20] leading-6">Полезные статьи</li>
            </ul>
            <span class="text-white text-[40px]  leading-[48px] font-bold">
                Наш блог
            </span>
        </div>
        <div id="image-carousel" class="splide mt-20 sm:w-[335px]" aria-label="Beautiful Images">
            <div class="splide__track">
                <ul class="splide__list">
                    <li
                        class="splide__slide border-2 rounded-lg w-[579px] h-[702px] px-6 pt-6 border-white/[0.3] md:max-w-[563px] ">
                        <img src="/assets/Articles/maining.svg" alt="">
                        <div class="text-white">
                            <h1 class="text-[32px] leading-10 font-bold mt-6 sm:text-[20px] sm:leading-[140%]">Что такое
                                «Майнинг»?</h1>
                            <span class="text-[#505050] mt-4">Опубликовано 20 июля, 2022 автором Admin</span>
                            <p
                                class="text-[#CCCCCC] m-0 mt-4 leading-[29px] text-lg tracking-wide-[0.2px] sm:text-[15px] sm:leading-[160%]">
                                Майнинг или
                                добыча — это деятельность по<br>добыванию криптовалюты,
                                за счёт своих мощностей.
                                Для майнинга используют
                                различную технику, например: видеокарты, графические процессоры...
                            </p>
                            <button
                                class=" mt-5 border-2 border-purple-500 gradient__text rounded-full py-4 pl-[9rem] pr-[9rem] w-full sm:w-[303px] sm:h-[54px] sm:mx-auto">Читать
                                полностью</button>
                        </div>
                    </li>


                    <li class="splide__slide border-2 rounded-lg max-w-[531px] h-[702px] px-6 pt-6 border-white/[0.3]">
                        <img src="/assets/Articles/maining-2.svg" alt="">
                        <div class="text-white">
                            <h1 class="text-[32px] leading-10 font-bold mt-6">Майнинг на видеокартах<br>и SSD/HDD</h1>
                            <span class="text-[#505050] mt-4 ">Опубликовано 20 июля, 2022 автором Admin</span>
                            <p class="text-[#CCCCCC] m-0 mt-8 leading-[29px] tetx-lg tracking-wide-[0.2px]">На данный
                                момент для майнинга чаще всего приобретают карты Nvidia:
                                GTX 1050ti, 1060,
                                1070, 1080, 1080ti и AMD Radeon: RX
                                470, 480, 570, 580. Дневной...
                            </p>
                            <button
                                class="mt-8 border-2 border-purple-500 gradient__text rounded-full py-4 pl-[9rem] pr-[9rem] w-full">Читать
                                полностью</button>
                        </div>
                    </li>
                    <li class="splide__slide border-2 rounded-lg max-w-[531px] h-[702px] px-6 pt-6 border-white/[0.3]">
                        <img src="/assets/Articles/maining-3.svg" alt="">
                        <div class="text-white">
                            <h1 class="text-[32px] leading-10 font-bold mt-6">Изменения награждения криптовалюты
                                «Биткоин»</h1>
                            <span class="text-[#505050] mt-4">Опубликовано 20 июля, 2022 автором Admin</span>
                            <p class="text-[#CCCCCC] m-0 mt-[30px] leading-[29px] tetx-lg tracking-wide-[0.2px]">В
                                системе «Биткойн» уровень сложности пересчитывается через каждые
                                2016 блоков/каждые 2
                                недели. Он увеличивается или
                                уменьшается в...
                            </p>
                            <button
                                class="mt-8 border-2 border-purple-500 gradient__text rounded-full py-4 pl-[9rem] pr-[9rem] w-full">Читать
                                полностью</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>




















{{!-- https://splidejs.com/tutorials/gallery/ --}}