<section class="banner">
  <div class="layout-grid md:mx-11 sm:mx-5">
    <div class="banner__wrapper">
      <h1 class="banner__title">Лучшая
        видеокарта для майнинга 2022 *
        <span>IMSI GRTH 3122 SUPER</span>
      </h1>
      <p class="banner__descr">Приобретая видеокарту, вы приобретаете не только универсальную составляющую
        компьютера, но и средство зарабатывания денег, что в долгосрочной перспективе очень выгодное вложение</p>
      <div class="banner__btn">
        <button class="banner__order_btn btn__primary">Заказать</button>
        <button class="banner__watch_btn btn__secondary">Смотреть обзор</button>
      </div>
    </div>
    <div class="banner-img__container">
      <img src="/assets/banner/banner__videocard.png" alt="video__card" class="banner__img">
      <div class="banner__bg-gradient-1"></div>
      <div class="banner__bg-gradient-2"></div>
    </div>
  </div>

</section>