<section class="delivery">
    <div class="layout-grid">
      <div class="delivery__title-secondary">
        <div class="title-secondary__circle"></div>
        <span class="title-secondary__text">выгодная доставка</span>
        <div class="delivery__bg-1"></div>
        <div class="delivery__bg-2"></div>
      </div>
      <h2 class="delivery__title">Доставка по России <span>БЕСПЛАТНО</span></h2>
      <div class="delivery__card-common delivery__card-1">
        <img src="./assets/delivery/delivery__card-1.png" alt="delivery__card-1" class="delivery__card-img">
        <span class="card__title">Пункты выдачи</span>
        <span class="card__descr">Получение покупателем отправлений в почтоматах и пунктах выдачи заказов — современная
          альтернатива курьерской доставке</span>
      </div>
      <div class="delivery__card-common delivery__card-2">
        <img src="./assets/delivery/delivery__card-2.png" alt="delivery__card-2" class="delivery__card-img">
        <span class="card__title">Доставка курьером</span>
        <span class="card__descr">Доставим видеокарту до вашего дома точно в срок. Все курьеры проходят обучение, а
          служба поддержки всегда на связи и готова помочь</span>
      </div>
    </div>
  </section>