<section class="mt-[200px] max-h-[417px]" id="faq">
    <div class="ml-[360px] mr-[360px] flex">
        <div class="mr-10">
            <ul class="mb-[16px]">
                <li class="uppercase ml-[20px] list-disc text-white text-[20] leading-6">Ответим на все вопросы</li>
            </ul>
            <span class="text-white text-[40px]  leading-[48px]">
                Часто задаваемые <br> вопросы
            </span>
        </div>
        <div class="ml-10 max-w-[683px] max-h-[417px] mt-10">
            <div class="accordion-group">
                <div class="accordion-menu">
                    <span> Возможен ли возврат товара? </span>
                    <img src="/assets/arrow.svg" id="arrow" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>Да, в течение двух недель с момента получения</p>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-menu">
                    <span>Подойдёт ли эта видеокарта в связке с i5 11400f?</span>
                    <img src="/assets/arrow.svg" id="arrow" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>Да, подойдёт</p>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-menu">
                    <span>Хорошо ли эта видеокарта будет работать с Ryzen7 3700x?</span>
                    <img src="/assets/arrow.svg" id="arrow" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>Хорошо, проблем не будет</p>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-menu">
                    <span>Подскажите, пожалуйста, есть ли поддержка трассировки лучей?</span>
                    <img src="/assets/arrow.svg" id="arrow" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>Да, есть</p>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-menu">
                    <span>Видеокарта пойдет с процессором amd fx 6300?</span>
                    <img src="/assets/arrow.svg" id="arrow" alt="" class="arrow">
                </div>
                <div class="accordion-content">
                    <p>Работать будет, может потребоваться обновление BIOS</p>
                </div>
            </div>
            <img src="/assets/Background2.png" alt="" class="relative right-[705px] bottom-[60px]">
        </div>
    </div>
</section>