<footer class="mt-[200px] footer-box-shadow md:mt-40 md:h-[765px]" id="footer">
    {{!-- <div class="border-b-2"></div> --}}
    <div class="ml-[360px] mr-[360px] flex gap-[196px] md:mx-11 md:block ">
        <div class="md:flex md:justify-between flex gap-[143px]">
            <div class="text-white">
                <img src="/assets/Footer/icon.svg" alt="" class=" mb-10 mt-14">
                <div class="pb-4">
                    <span class=""><span class="text-[#505050]">Телефон:</span> <br> +7 912 123-45-67</span>
                </div>
                <div class="pb-4">
                    <span class=""> <span class="text-[#505050]">Адрес:</span> <br> 123456, г.Ижевск, <br> БЦ «Ижевск»,
                        <br>
                        этаж 8,
                        офис 12</span>
                </div>
                <span> <span class="text-[#505050]">Почта:</span> <br> info@mail.ru</span>
                <div class="flex mt-14">
            <a href="https://vk.com/"><img class="mr-[19px]" src="/assets/Footer/vk.svg" alt=""></a>
            <a href="https://www.youtube.com/"><img src="/assets/Footer/youtube.svg" alt=""></a>
            
        </div>
            </div>
            <div class="text-white mt-[133px]">
                <div class="mb-4">
                    <span><a href="#advantages">Преимущества</a></span>
                </div>
                <div class="mb-4">
                    <span><a href="#review">Видеообзор</a></span>
                </div>
                <div class="mb-4">
                    <span><a href="#specs">Характеристики</a></span>
                </div>
                <div>
                    <span><a href="#delivery">Доставка</a></span>
                </div>
            </div>
            <div class="text-white mt-[133px]">
                <div class="mb-4">
                    <span><a href="#gallery">Галерея</a></span>
                </div>
                <div class="mb-4">
                    <span><a href="#faq">FAQ</a></span>
                </div>
                <div class="mb-4">
                    <span><a href="#reviews">Отзывы</a></span>
                </div>
                <div>
                    <span><a href="#articles">Блог</a></span>
                </div>
            </div>
        </div>
        <div class=" mt-[133px] md:mt-10">
            <div class="mb-8">
                <h1 class="text-white text-xl font-bold">Подпишитесь на наши <br> последние новости</h1>
            </div>
            <input
                class="rounded-[32px] h-[49px] w-[309px] bg-[url('/assets/Footer/messase.svg')] bg-no-repeat bg-mail-position placeholder:pl-[56px] input__mail"
                type="text" placeholder="Почта">
            <div class="md:flex sm:block">
                <div class="mb-10 mt-4">
                    <span class="text-white text-xs">Подписываясь на рассылку, вы соглашаетесь <br> с правилами о <span
                            class="gradient__text">политике
                            конфиденциальности</span></span>
                </div>
                <div class="md:ml-6  md:w-[211px] md:h-[54px]">
                    <button
                        class=" w-[305px] py-4 px-[102.5px] rounded-full gradient__text border-2 border-purple-500 md:mx-auto">
                        Отправить
                    </button>
                    <div class=" text-[#505050] flex mt-14 justify-end">
                <span>© Имси, 2008–2022</span>
            </div>
                </div>
            </div>

        </div>
        
    </div>
</footer>