<section class="max-h-[981px] mt-[200px]" id="gallery">
    <div class="ml-[360px] mr-[360px]">
        <ul class="mb-[16px]">
            <li class="uppercase ml-[20px] list-disc text-white text-[20] leading-6">совершенный дизайн</li>
        </ul>
        <span class="text-white text-[40px]  leading-[48px]">Галерея IMSI GRTH 3122 SUPER</span>
        <div class="relative">
            <img src="/assets/Gallery/Background.png" alt=""
                class="absolute object-contain max-w-[860px] max-h-[860px] right-[590px] top-[-150px]">
        </div>
        <div class="splide max-w-[1200px] max-h-[630px] top-[20px]">
            <div class="splide__slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"><img src="./assets/Gallery/main-videocard.png" alt=""></li>
                        <li class="splide__slide"><img src="./assets/Gallery/main-videocard-3.png" alt=""></li>
                        <li class="splide__slide"><img src="./assets/Gallery/main-videocard-2.png" alt=""></li>
                        <li class="splide__slide"><img src="./assets/Gallery/main-videocard-1.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="thumbnails mt-10" id="thumbnails">
            <li class="thumbnail max-w-[270px] max-h-[142px]">
                <img src="./assets/Gallery/videocard.png" alt="">
            </li>
            <li class="thumbnail max-w-[270px] max-h-[142px]">
                <img src="./assets/Gallery/videocard(1).png" alt="">
            </li>
            <li class="thumbnail max-w-[270px] max-h-[142px]">
                <img src="./assets/Gallery/videocard(2).png" alt="">
            </li>
            <li class="thumbnail max-w-[270px] max-h-[142px]">
                <img src="./assets/Gallery/videocard(3).png" alt="">
            </li>

        </ul>
    </div>
</section>