<header class="header sm:h-20">
  <div class="layout-container md:ml-11 md:mr-11 md:max-w-[768px]">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="#" class="header__logo_link">
          <img src="/assets/header/header__logo.svg" alt="header__logo">
        </a>
      </div>
      <nav class="header__nav md:hidden">
        <ul class="nav__menu">
          <li class="menu__item">
            <a href="#advantages" class="text__int">Преимущества</a>
          </li>
          <li class="menu__item">
            <a href="#specs" class="text__int">Характеристики</a>
          </li>
          <li class="menu__item">
            <a href="#articles" class="text__int">Наш блог</a>
          </li>
          <li class="menu__item">
            <a href="#gallery" class="text__int">Галерея</a>
          </li>
          <li class="menu__item">
            <a href="#faq" class="text__int">FAQ</a>
          </li>
          <li class="menu__item">
            <a href="#reviews" class="text__int">Отзывы</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>