<section class="mt-[200px] sm:mt-[555px]" id="reviews">
    <div class="ml-[360px] mr-[360px] md:mx-11 sm:mx-[21px] reviews__container">
        <div class="mr-10">
            <ul class="mb-[16px]">
                <li class="uppercase ml-[20px] list-disc text-white text-[20] leading-6">Что говорят пользователи</li>
            </ul>
            <span class="text-white text-[40px]  leading-[48px] font-bold">
                Отзывы покупателей
            </span>
        </div>
        <div
            class="mt-20 border-2 rounded-lg max-w-[1200px] h-[800px] md:mt-[72px] md:h-[1300px] md:max-w-[680px] sm:w-[333px]">
            <div class="flex pt-10 h-[301px] w-[419px] md:block md:mt-10 sm:block">
                <div class="md:flex reviews">
                    <img src="/assets/Reviews/avatar-1.svg" alt="" class=" p-6 max-w-[144px] max-h-[144px]">
                    <div class="ml-10 text-white text-left">
                        <h1 class="text-[32px] leading-[39px] font-bold">Иван</h1>
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Оценка</p>
                        <img src="/assets/Reviews/stars.svg" alt="" class="max-w-[152px] max-h-[24px] mt-2">
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Опыт использования</p>
                        <p class="m-0 text-[#CCCCCC]">Меньше месяца</p>
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Опубликован</p>
                        <p class="m-0 text-[#CCCCCC]">18 июля 2022</p>
                    </div>
                </div>
                <div class="text-white ml-[86px] mt-2 md:ml-0 md:px-6">
                    <h1 class="text-xl font-bold">Достоинства</h1>
                    <p
                        class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC] md:max-w-[500px] sm:text-[15px] sm:leading-[160%] sm:max-w-[285px]">
                        Самыми
                        главными
                        достоинствовами
                        для меня
                        являются отсутствие подсветки,
                        на которую
                        я ни разу
                        не посмотрюбудучи у меня
                        под столом, а также высокая свокрость в Turbo Boost. Также понравилось добротное охлаждение,
                        которое в простое не даёт
                        видеокарте нагрется больше 40 градусов.
                    </p>
                    <h1 class="text-xl mt-6 font-bold sm:mt-[135px]">Недостатки</h1>
                    <p class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC]  md:max-w-[500px] sm:max-w-[285px]">
                        После малого
                        использования
                        недостатков не обнаружил
                    </p>
                    <div class="sm:hidden">
                        <h1 class="text-xl mt-6 font-bold">Комментарий</h1>
                        <p
                            class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC] md:max-w-[500px] sm:max-w-[285px]">
                            Карточка выполнена добротно, нареканий как я говорил выше нет. Абсолютно во всех играх будет
                            выше играбельных 60fps
                            (даже и с включённым RTX). Также порадовало наличие 8gb видеопамяти на GDDR6. Купил карту
                            взамен
                            rx570 8gb, разница
                            конечно ощущается, когда не приходится резать настройки, по причине нехватки
                            производительности.
                            Лучи, в играх в которых
                            они есть, при включённых настройках, реально видны, в отличии от графики на rx570. В целом,
                            пока, картой доволен.
                            Также что не мало важно как я и говорил выше, все игры работают на ультрах без напрягов
                            в FHD.
                            В 2к чуть проседает,
                            но не сильно заметно. GTA 5–100fps FHD. FAR CRY порядка 130. С запасом
                            по производительности,
                            на ближайшие пару
                            лет точно хватит
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mt-4 border-2 rounded-lg max-w-[1200px] h-[758px] md:mt-[72px] md:h-[1200px] md:max-w-[680px] sm:w-[333px]">
            <div class="flex pt-10 h-[301px] w-[419px] md:block md:mt-10 sm:block">
                <div class="md:flex reviews">
                    <img src="/assets/Reviews/avatar-2.svg" alt="" class="pl-6 max-w-[144px] max-h-[144px]">
                    <div class="ml-10 text-white text-left">
                        <h1 class="text-[32px] leading-[39px] font-bold">Timur</h1>
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Оценка</p>
                        <img src="/assets/Reviews/stars.svg" alt="" class="max-w-[152px] max-h-[24px] mt-2">
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Опыт использования</p>
                        <p class="m-0 text-[#CCCCCC]">Более 2 месяцев</p>
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Опубликован</p>
                        <p class="m-0 text-[#CCCCCC]">01 июля 2022</p>
                    </div>
                </div>
                <div class="text-white ml-[86px] mt-2 md:ml-0 md:px-6">
                    <h1 class="text-xl font-bold">Достоинства</h1>
                    <p
                        class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC] md:max-w-[500px] sm:max-w-[285px]">
                        1.
                        Баланс цены и
                        производительности
                        <br>
                        2. Низкие требования по питанию <br>
                        3. Памяти как у старших моделей за 70к <br>
                        4. Неплохое охлаждение. Не топовое, но для одной из самых дешевых 2060S, парадоксально лучше,
                        чем у более дорогих
                        собратьев
                    </p>
                    <h1 class="text-xl mt-6 font-bold sm:mt-[173px]">Недостатки</h1>
                    <p class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC] md:max-w-[500px]">Не заметил
                    </p>
                    <div class="sm:hidden">
                        <h1 class="text-xl mt-6 font-bold">Комментарий</h1>
                        <p class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC] md:max-w-[500px]">
                            По охлаждению конкретной модели — больше 70 градусов (66 если снять боковину) в закрытом
                            корпусе
                            при максимальной
                            нагрузке во время обучения нейронной сети не поднималась. В играх и того меньше, около 60.
                            При
                            этом вентиляторы никогда
                            не выкручиваются на максимум, максимум видел около 2400 оборотов, что около 65-70 процентов.
                            Шум
                            терпимый, и полностью
                            нивелируется наушниками.
                            Один из лучших выборов видеокарт как в целом в среднем сегменте, так и среди 2060S.
                            Производительность на уровне чуть
                            более дорогой 2070 (не S).
                            Покупкой полностью доволен. Рассматривал так же 2070S, но прибавка около 12 процентов за
                            дополнительные 10к, и возможная
                            потребность замены существующего БП на 600Вт заставила задуматься, и сделать выбор в пользу
                            2060S
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mt-4 border-2 rounded-lg max-w-[1200px] h-[500px] md:mt-[72px] md:h-[754px] md:max-w-[680px] sm:w-[333px] last">
            <div class="flex pt-10 h-[301px] w-[419px] md:block md:mt-10 sm:block">
                <div class="md:flex reviews">
                    <img src="/assets/Reviews/avatar-3.svg" alt="" class="pl-6 max-w-[144px] max-h-[144px]">
                    <div class="ml-10 text-white text-left">
                        <h1 class="text-[32px] leading-[39px] font-bold">Виталий</h1>
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Оценка</p>
                        <img src="/assets/Reviews/stars-2.svg" alt="" class="max-w-[152px] max-h-[24px] mt-2">
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Опыт использования</p>
                        <p class="m-0 text-[#CCCCCC]">Более 6 месяцев</p>
                        <p class="text-[20px] pt-[24px] m-0 font-bold">Опубликован</p>
                        <p class="m-0 text-[#CCCCCC]">15 июня 2022</p>
                    </div>
                </div>
                <div class="text-white ml-[86px] mt-2 md:ml-0 md:px-6">
                    <h1 class="text-xl font-bold">Достоинства</h1>
                    <p
                        class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC] md:max-w-[500px] sm:max-w-[285px]">
                        Производительность,
                        память samsung,
                        без всяких разгонов 1800- 1900 МГц в играх при заявленных 1655 МГц
                    </p>
                    <h1 class="text-xl mt-6 font-bold">Недостатки</h1>
                    <p class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC] md:max-w-[500px] md:">Шум кулеров
                    </p>
                    <div class="sm:hidden">
                        <h1 class="text-xl mt-6 font-bold">Комментарий</h1>
                        <p class="m-0 text-justify w-[647px] max-h-[145px] text-lg mt-2 text-[#CCCCCC] md:max-w-[500px]">
                            Видюха очень порадовала. пересел с rx550 на неё и прям почувствовал МОЩЬ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>