<section class="specs" id="specs">
    <div class="layout-grid">
      <div class="specs__title-secondary">
        <div class="title-secondary__circle"></div>
        <span class="title-secondary__text">выбор комплектации</span>
      </div>
      <h2 class="specs__title">Характеристики видеокарты IMSI GRTH 3122 SUPER</h2>
      <div class="package__type">
        <h3 class="package__title">Комплектация</h3>
        <div class="package__btn">
          <button class="type__bulk bulk">Bulk</button>
          <button class="type__oem oem">OEM</button>
        </div>
        <p class="type__descr">Описание</p>
        <span class="type__text">
          Видеокарта IMSI GRTH 3122 SUPER - мощный игровой видеоадаптер, который подойдёт для комплектации игровых
          системных блоков высокого уровня. <br>Несмотря на высокий уровень производительности, устройство отличается
          компактностью. <br><br>
          Длина видеокарты равна 226 мм. Количество<br>занимаемых слотов расширения — 2. Видеоадаптер<br>MSI GeForce RTX
          2060 VENTUS OC базируется<br>на широко распространённом графическом<br>процессоре GeForce RTX 2060,
          произведённом с использованием техпроцесса 12 нм. <br><br>
          Штатная частота видеочипа равна 1365 МГц.<br>Турбочастота почти на 30% выше: 1770 МГц.<br> Видеокарта оснащена
          скоростной памятью GDDR6. Эффективная частота памяти — 14000 МГц.
        </span>
        <div class="type__order">
          <div class="order__price">
            <span class="old__price">50 000 ₽</span>
            <span class="new__price">44 000 ₽</span>
          </div>
          <button class="order__btn btn__primary">Заказать</button>
        </div>
      </div>
      <div class="specs__container">
        <h3 class="specs__container__title">Характеристики</h3>
        <div class="specs__list">
          <div class="specs__item">
            <span class="item__name">Название видеокарты</span>
            <span class="item__descr">IMSI GRTH 3122 SUPER</span>
          </div>

          <div class="specs__item">
            <span class="item__name">Кодовое название видеопроцессора</span>
            <span class="item__descr">TU106-410-A1</span>
          </div>

          <div class="specs__item">
            <span class="item__name">Разработчик видеокарты</span>
            <span class="item__descr">IMSI</span>
          </div>

          <div class="specs__item">
            <span class="item__name">Линейка</span>
            <span class="item__descr">GRTH</span>
          </div>

          <div class="specs__item">
            <span class="item__name">Техпроцесс</span>
            <span class="item__descr">12 нм</span>
          </div>

          <div class="specs__item">
            <span class="item__name">Тип подключения</span>
            <span class="item__descr">PCI Express 3.0</span>
          </div>

          <div class="specs__item">
            <span class="item__name">Количество видеопроцессоров</span>
            <span class="item__descr">1</span>
          </div>

          <div class="specs__item">
            <span class="item__name">Количество поддерживаемых мониторов</span>
            <span class="item__descr">4</span>
          </div>

          <div class="all__specs__container">
            <a href="./src/specs__full.html" class="all__specs text__int">Все характеристики</a>
          </div>
        </div>
      </div>

    </div>
  </section>