.delivery {
    margin-top: 199px;
}

.delivery__title-secondary {
    display: flex;
    align-items: center;
    gap: 16px;
    grid-column: 1 / 5;
    position: relative;
}


.devivery__container{
    display: contents;
}
.delivery__bg-1 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -265%;
    left: 1%;
    z-index: -1;
    background: var(--gradient-pink);
    mix-blend-mode: hard-light;
    opacity: 0.6;
    filter: blur(114px);
}

.delivery__bg-2 {
    width: 391px;
    height: 401px;
    position: absolute;
    top: 37%;
    left: -64.9%;
    z-index: -2;
    background: var(--gradient-yellow);
    mix-blend-mode: hard-light;
    opacity: 0.3;
    filter: blur(127px);
}

.delivery__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.2px;
    color: var(--color-white);
    grid-row: 2;
    grid-column: 1 / 9;
    margin-top: -24px;
    margin-bottom: 40px;
}

.delivery__title span {
    color: #FA71CD;
}

.delivery__card-common {
    grid-row: 3;
    border: 1px solid var(--color-transparent-white2);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    height: 371px;
}

.delivery__card-img {
    width: 144px;
    height: 144px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.delivery__card-1 {
    grid-column: 1 / 7;
}

.delivery__card-2 {
    grid-column: 7 / 13;
}

