.header {
  height: 104px;
  background-color: #0b0b0b;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 30px rgba(250, 113, 205, 0.4);
  display: flex;
  align-items: center;
}

.header__wrapper {
  /* width: 100vh; */
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 247px;
}

.nav__menu {
  display: flex;
  gap: 40px;
}

.menu__item {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.2px;
}